Source: sdate
Section: utils
Priority: optional
Build-Depends: libc6-dev-s390x [s390], libc6-dev-sparc64 [sparc], debhelper (>= 7),
 autotools-dev
Maintainer: Christoph Berg <myon@debian.org>
Standards-Version: 3.8.3
Vcs-Svn: http://svn.df7cb.de/debian/sdate/trunk
Vcs-Browser: http://svn.df7cb.de/debian/sdate/trunk

Package: sdate
Architecture: any
Depends: ${shlibs:Depends}
Description: never ending September date
 sdate wraps the libc localtime() and gmtime() functions to output the eternal
 september 1993 date.
 .
 sdate works like fakeroot (on which its code is based) by setting LD_PRELOAD
 to a wrapper library.
 .
  * http://www.catb.org/~esr/jargon/html/S/September-that-never-ended.html
Homepage: http://www.df7cb.de/projects/sdate/
