Source: strftime-rel
Section: utils
Priority: optional
Build-Depends: sharutils, libc6-dev-s390x [s390], libc6-dev-sparc64 [sparc], debhelper (>= 4)
Maintainer: Christoph Berg <cb@df7cb.de>
Standards-Version: 3.6.1

Package: strftime-rel
Architecture: any
Depends: ${shlibs:Depends}
Description: wrapper around strftime to display time for today and date else
 This package wraps the libc strftime() function.
